.KeywordResults .response-container {
  margin: 30px auto;
  padding: 2.5rem;
  background-color: #f7f3ff;
}
@media screen and (max-width: 767px) {
    .KeywordResults .response-container {
      margin: 20px auto;
      padding-top: 1rem;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      background-color: #f7f3ff;
    }  
    .KeywordResults .text-container {
        max-width: 90% !important;
    }
}

.KeywordResults .text-container {
    margin: 0 auto;
    max-width: 75%;
}

.KeywordResults h3 {
  color: red;
  padding-bottom: 17px;
}

.KeywordResults .keyword {
  text-transform: capitalize;
  padding: 5px;
  padding-right: 7px;
}
.KeywordResults .audio-link {
    color: black;
    opacity: 0.6;
}

.KeywordResults p {
  margin-bottom: 2px;
}

.KeywordResults .meaning-variant {
   border: 1px solid #5D67C1;
   border-radius: 5px;
}

.KeywordResults ol {
    list-style-type: none;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
